{% extends 'generic.html' %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% block title %}Manage Posts{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/static/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="/static/jquery-ui.theme.min.css"/>
    <script type="javascript" language="javascript" src="/static/jquery-ui.min.js"/>
    <script type="javascript" language="javascript">

    </script>
{% endblock %}
{% block contents %}
    <h1> Dashboard </h1>
    <div id="display">
        <div id="nav">
            <span><a href="{{ url_for('logout') }}">|: Logout :|</a></span>
            <span><a href="{{ url_for('show') }}">|: View Posts :|</a></span>
        </div>
        <table>
        {% if user == 'admin' %}
            <form action="{{ url_for('add_user') }}" name="add-user" method="post">
            <tr>
                <td colspan="3"><strong>Create a New user</strong></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td colspan="2"><input type="text" name="fname" size="20"/></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td colspan="2"><input type="text" name="lname" size="20"/></td>
            </tr>
            <tr>
                <td>Username</td>
                <td colspan="2"><input type="text" name="username" size="20"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td colspan="2"><input type="password" name="password" size="20"/></td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td colspan="2"><input type="text" name="email" size="20"/></td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" name="Create" value="Create User"/>
                </td>
            </tr>
            </form>
            <tr>
                <td colspan="3">
                    <table>
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email Address</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for usr in userdata %}
                        <tr>
                            <td>{{ usr['username'] }}</td>
                            <td>{{ usr['fname'] }}</td>
                            <td>{{ usr['lname'] }}</td>
                            <td>{{ usr['email'] }}</td>
                            <td>
                                {% if usr['username'] != 'admin' %}
                                <a href="{{ url_for('delete_user', username=usr['username']) }}">
                                    Delete
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>

        {% endif %}
        {% for row in entries %}
            <tr>
                <td>
                    {{ row['title'] }}
                </td>
                <td>
                <form action="{{ url_for('dashboard') }}" method="post" name="pub">
                    <input type="hidden" name="pid" value="{{ row['pid'] }}"/>
                {% if row['state'] == 1 %}

                        <input type="submit" name="state" value="Unpublish" />

                {% else %}

                        <input type="submit" name="state" value="Publish"/>

                {% endif %}
                </form>
                </td>
                <td>
                    <form action="{{ url_for('edit_post', pid=row['pid']) }}" method="get", name="edit">
                        <input type="submit" name="edit" value="Edit"/>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('delete_post', pid=row['pid']) }}" method="get", name="del">
                        <input type="submit" name="delete" value="Delete"/>
                    </form>
                </td>
            </tr>
        {% endfor %}

        </table>

    </div>
{% endblock %}
