{% extends 'generic.html' %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
{% block title %}Best Blog Ever::New Post{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/static/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="/static/jquery-ui.theme.min.css"/>
    <script type="javascript" language="javascript" src="/static/jquery-ui.min.js"/>
    <script type="javascript" language="javascript">
    </script>
{% endblock %}
{% block contents %}
    <div><h1>New post</h1></div>
    <div>
    <form name="frmEntry" action="{{ entry['action'] }}" method="post">
        <dl>
            <dt>Title:</dt>
            <dd>
                <input type="text" name="title" size="50" value="{{ entry['title'] }}"/>
            </dd>
            <dt>Text:</dt>
            <dd>
                <textarea rows="10" cols="50" name="post">{{ entry['post'] }}</textarea>
            </dd>
        </dl>
        <input type="hidden" name="username" value="{{ entry['username'] }}"/>
        <input type="submit" name="submit" value="Submit"/>
    </form>
    </div>
{% endblock %}
</html>